<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{search submit=false}}
  </nav>

  <h1 class="contactusheader">
    CONTACT US
    <span class="follow-up-hint"></span><br><br><br>
  </h1>

  <div class="form-container">
    <div class="form">
      <ul>
        <li>
          <button class="button-large" onclick="location.href='https://ithakasupport.zendesk.com/hc/en-us/requests/new?ticket_form_id=14169076578327'">
            General JSTOR Contact Form
          </button><br>
          Do you have a question about our site or need to report an issue? This form will get your question in front of our helpful support staff right away.
        </li><br><br>
        <li>
          <button class="button-large" onclick="location.href='https://support.jstor.org/hc/en-us/requests/new?ticket_form_id=14169352633239'">
            Librarian/Administrator Form
          </button><br>
          We can assist you with issues ranging from access method updates to usage statistic requests and much more.
        </li><br><br>
        <li>
          <button class="button-large" onclick="location.href='https://support.publishers.jstor.org/hc/en-us/requests/new?ticket_form_id=360003403994'">
            Publisher Contact Form
          </button><br>
          Participating Publishers and Content Providers may request assistance with usage reports, revenue share, and any other questions using this form.
        </li><br><br>
        <li>
          <button class="button-large" onclick="location.href='https://about.jstor.org/librarians/contact-us/'">
            Library Participation Form
          </button><br>
          Do you have a question about one of our JSTOR products? This form will put you in touch with our Outreach team for further assistance.
        </li>
      </ul>
    </div>

    <div class="form-sidebar">
      <h2 class="compact-top">Call Us</h2>
      <p class="compact-top">
        Toll Free in the United States:
        <a href="tel:8883884574">(888)-388-3574</a><br>
        Local and international:
        <a href="tel:7348777001">(734)-877-7001</a>
      </p>

      <h2>Text Us</h2>
      <p class="compact-top">
        Open a ticket with the Support team by texting:
        <a href="tel:7348777001">(734)-877-7001</a>
      </p>

      <h2>Hours of Operation:</h2>
      <p class="compact-top">
        Mon - Fri 8:30 a.m. - 5:00 p.m.<br>
        EDT (GMT -4:00)
      </p>

      <h2>Media</h2>
      <ul>
        <li>Heidi McGregor</li>
        <li>VP, Communications</li>
        <li><a href="mailto:heidi.mcgregor@ithaka.org" data-sc="text link: contact">heidi.mcgregor@ithaka.org</a></li>
      </ul>
<br>
      <h1>Offices</h1>
      <ul>
        <li>
      	<h2>New York</h2>
      	<ul>
        	<li>One Liberty Plaza</li>
        	<li>165 Broadway, 5th Floor</li>
        	<li>New York, NY 10006</li>
        	<li>Phone: <a href="tel:8883883574" data-sc="text link: contact">(888)-388-3574</a></li>
        	<li>Fax: <a href="tel:2123586499" data-sc="text link: contact">(212)-358-6499</a></li>
      	</ul></li>
        <li>
      	<h2>Michigan</h2>
      	<ul>
        	<li>301 East Liberty, Suite 250</li>
        	<li>Ann Arbor, MI 48104-2262</li>
        	<li>Phone: <a href="tel:8883883574" data-sc="text link: contact">(888)-388-3574</a></li>
        	<li>Fax: <a href="tel:2123586499" data-sc="text link: contact">(212)-358-6499</a></li>
      	</ul></li>
    </div>
  </div>
</div>