<div class="container-divider"></div>

<div class="container">
  
  <nav class="sub-nav">
    
    <ol class="breadcrumbs">
    <li title="JSTOR Support"><a href="/hc/en-us">JSTOR Support</a></li>
    <li title="Teaching Resources"><a href="/hc/en-us/p/teaching">Teaching Resources</a></li>
    </ol>
    
    <form role="search" class="search" data-search="" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="hidden" name="category" id="category" value="115000677188" autocomplete="off">
<input type="search" name="query" id="query" placeholder="Search our help center" aria-label="Search our help center"></form>
    
  </nav>
  
  <div class="container">
    
    <h1>Teaching Resources</h1>
    <p>Resources for librarians, educators, and faculty to assist with teaching using JSTOR.</p>
    
    <h2>Slide Decks and Handouts</h2>
    <p>Our reusable Google Slides decks can be copied and adapted for your own use as needed. Each slide deck contains key points about JSTOR's features, suggested activities for students, and links to relevant training videos and support pages. We will periodically update these decks as the JSTOR platform continues to evolve.</p>
    <ul>
      <li title="Make a copy of Images on JSTOR in Google Slides"><a href="https://docs.google.com/presentation/d/1IMExyQW1jTz7iZOfSh647E3uxZOM8I-R1IcjRDdHjZY/copy">Images on JSTOR</a> (Google Slides)</li>
      <li title="Make a copy of Research on JSTOR in Google Slides"><a href="https://docs.google.com/presentation/d/1g_BQeYHg4Yh9TvzuHSCwtvk9vXc783Fm1pOJBY-VDHY/copy">Research on JSTOR</a> (Google Slides)</li>
      <li title="JSTOR Quick Start Guide PDF"><a href="https://guides.jstor.org/ld.php?content_id=70231642">JSTOR Quick Start Guide</a> (PDF)</li>
    </ul>
    
    <h2>LibGuides</h2>
    <p>All of our guides are open and free, and Springshare library customers are welcome to copy our guides to their own LibGuides sites and customize them with library branding and additional information.</p>
    <ul>
      <li title="How to Use JSTOR LibGuide"><a href="https://guides.jstor.org/how-to-jstor/welcome">How to Use JSTOR</a></li>
      <li title="Artstor on JSTOR: Working with images LibGuide"><a href="https://guides.jstor.org/images">Artstor on JSTOR: Working with images</a></li>
      <li title="JSTOR for Secondary Schools LibGuide"><a href="https://guides.jstor.org/secondary-schools">JSTOR for Secondary Schools</a></li>
      <li title="JSTOR Subjects and Collections Guide LibGuide"><a href="https://guides.jstor.org/subjects-collections">JSTOR Subjects and Collections Guide</a></li>
    </ul>
    
    <h2>Additional Resources</h2>
    <ul>
      <li title="JSTOR Daily: Teaching and Learning Resources"><a href="https://daily.jstor.org/teaching-and-learning-resources-from-jstor-daily/">JSTOR Daily: Teaching and Learning Resources</a></li>
      <li title="Research Basics: an open academic research skills course"><a href="https://guides.jstor.org/researchbasics">Research Basics: an open academic research skills course</a></li>
    </ul>
    
  </div>
  
</div>