<div class="container-divider"></div>

<div class="container">
  
  <nav class="sub-nav">
    
    <ol class="breadcrumbs">
    <li title="JSTOR Support"><a href="/hc/en-us">JSTOR Support</a></li>
    <li title="Tutorials"><a href="/hc/en-us/p/tutorials">Tutorials</a></li>
    </ol>
    
    <form role="search" class="search" data-search="" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓" autocomplete="off"><input type="hidden" name="category" id="category" value="115000677188" autocomplete="off">
<input type="search" name="query" id="query" placeholder="Search our help center" aria-label="Search our help center"></form>
    
  </nav>
  
  <div class="container">
    
    <h1>Tutorials</h1>
    <p>Video tutorials and guides for learning how to use JSTOR.</p>
    
    <h2>Using JSTOR</h2>
    <ul>
      <li title=""><a href=""></a></li>
      <li title="How to Use JSTOR LibGuide"><a href="https://guides.jstor.org/how-to-jstor/welcome">How to Use JSTOR</a> (LibGuide)</li>
      <li title="How to Use JSTOR playlist on YouTube"><a href="https://www.youtube.com/playlist?list=PL6gj12HBTWuZ8qPrrUjYtPQcB4KoMeU5Z">How to Use JSTOR</a> (YouTube)</li>
      <li title="Artstor on JSTOR: Working with images LibGuide"><a href="https://guides.jstor.org/images">Artstor on JSTOR: Working with images</a> (LibGuide)</li>
      <li title="Images on JSTOR playlist on YouTube"><a href="https://www.youtube.com/playlist?list=PL6gj12HBTWuZC_EbNP1kAWSmw7uJl3RS6">Images on JSTOR</a> (YouTube)</li>
    </ul>
    
    <h2>JSTOR Admin</h2>
    <ul>
      <li title="A JSTOR Success Guide for Librarians LibGuide"><a href="https://guides.jstor.org/for-libraries">A JSTOR Success Guide for Librarians</a> (LibGuide)</li>
      <li title="JSTOR for Librarians playlist on YouTube"><a href="https://www.youtube.com/playlist?list=PL6gj12HBTWubSwgFAO0K7Xiu3WZuM89al">JSTOR for Librarians</a> (YouTube)</li>
      <li title="JSTOR Annual Update Webinars"><a href="https://about.jstor.org/orientation/">JSTOR Annual Update webinars</a></li>
      <li title="Other webinars"><a href="https://about.jstor.org/events/?jmeventcat=webinar">Other webinars</a></li>
    </ul>
    
  </div>
  
</div>