<div class="container-divider"></div>
<div id="main-content" class="error-page">

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

{{#is error 'not_found'}}
  <h1 class="compact-bottom">404</h1>
  <h2 class="compact-top">Page not found</h2>
  <p>The link you followed may be broken or we may have moved the page. 
  <br>
  If you cannot find what you are looking for, <a href="/hc/en-us/articles/360023452452-Contact-Us">contact us</a>.
  <p>
  	<a href="/" class="button">Back to JSTOR Forum Support</a>
  </p>
<div>
</p>
</div>
{{/is}}
