<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HC7SLD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header">
  <div id="skipNav"><a class="show-on-focus" href="#main-content">Skip to Main Content</a></div>
  <div class="logo">
    <a href="https://forum.jstor.org/">
      <img src="{{settings.logo}}" alt="JSTOR Forum">
    </a>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      <a href="https://www.artstor.org/jstorforum/">About</a>
      <a class="current" href="/hc/en/">Support</a>
      <a href="/hc/en-us/articles/360023452452-Contact-Us">Contact Us</a>
      <a class="button" href="https://forum.jstor.org/login.html">Log in to Forum</a>
      <!--{{link 'new_request' class='submit-a-request'}}-->
    </nav>
    {{#if signed_in}}
    {{user_info}}
    {{/if}}
  </div>
</header>