<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="contactusheader">
    CONTACT US
    {{#if follow_up}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}
  </h1>

  <div class="form-container">
    <div class="form">
    {{request_form}}
    </div>
    <div class="form-sidebar">
  	   <h2 class="compact-top">Call Us</h2>
         <p class="compact-top">
     	   Toll Free in the united States:
   	      <a href="tel:8883884574">(888)-388-3574</a>
            <br>
              Local and international:
                <a href="tel:7348877001">(734)-887-7001</a></p>

      <h2>Text Us</h2>
        <p class="compact-top">
          Open a ticket with the Support team by texting:
          <a href="tel:7348877001">(734)-887-7001</a></p>

      <h2>Tweet Us</h2>
        <p class="compact-top">
    	     <a aria-label="Tweet at us on Twitter" href="http://www.twitter.com/@JSTORSupport" target="_blank" title="This link opens in a new window">@JSTORSupport</a></p>

      <h2>Hours of Operation:</h2>
        <p class="compact-top">
          Mon - Fri 8:30 a.m. - 5:00 p.m.
            <br> EDT (GMT -4:00)</p>
      </div>
    </div>
