/***** Attachments *****/
/* Styles attachments inside posts, articles and comments */
.attachments {
  .attachment-item {
    padding-left: 20px;
    position: relative;
    margin-bottom: 10px;

    &:last-child { margin-bottom: 0; }

    &::before {
      @extend .icon;
      color: $text_color;
      content: "\1F4CE";
      font-size: $font-size-base;
      left: 0;
      position: absolute;
      top: 5px;
    }

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 20px;

      &::before {
        left: auto;
        right: 0;
      }
    }
  }
}

.upload-dropzone {
  border: 1px solid $dark-gray;
  border-radius: 4px;

  span {
    color: $secondary-text-color;
  }

   [data-hc-focus="true"] {
      outline: none;
      border: 2px solid #1291AE;
      background-color: #fff;
      transition: .5s,border-color .25s ease-in-out;
  }
}
