/***** Forum Footer *****/
.footer {
  @include desktop {
  }
    padding: 15px 0 15px;
    background-color: $footer_background_color;

  .forum-footer-header  {
    position: absolute;
    padding-left: 20px;
  }

  .footer h1 {
    color: $footer_text_color;
    font-family: $header_font !important;
    font-weight: $font-weight-bold;
    font-size: 32px;
  }

  .footer h4 {
    font-family: $footer_font;
    font-weight: bold;
  }

  p {
    line-height: 1;
    letter-spacing: 0;
  }

  li {
    font-size: $font-size-base;
    margin-bottom: 11.2px;
    padding-right: 5px;
  }

  a {
    color: $footer_text_color;
    font-weight: $font-weight-bold;
    text-decoration: none;
  }

  .footer a:hover {
    color: $footer_text_color;
    text-decoration: underline;
  }


  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-links {
    @include desktop {
      width: 66.67%;
      padding-left: 0 !important;
    }
    width: 100%;
    padding-bottom: 10px;

    a {
      text-decoration: none;
      padding-right: 5px;

      &:hover {text-decoration: underline;}
    }
  }

  &-legal {
    @include desktop {
      width:33.33%;
      margin-top: 0;
      color: var(--pharos-color-ui-40); //#d1cfc7
    }
    width: 100%;
    margin-top: 10px;
  }

  .linklist {
    width: 33.33333%;
  }

  &-language-selector {
    color: $secondary-text-color;
    display: inline-block;
    font-weight: $font-weight-light;
  }

  & > .expanded.row {
    border: 0;
    background: $footer_background_color;
    display: flex;

    ul.list-horizontal {
      padding-top: 11.2px;
      }

    a {
      text-decoration: none;

      &:hover {text-decoration: underline;}
    }

  }

  @media screen and (max-width: 42.79464rem) {
    .footer > .expanded.row ul {
      margin-bottom: 20px; } }

  .row {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
    &.expanded {
      max-width: none;
        .row {
          max-width: 1160px;
          width: 90%;
        }
    }
  }

  .bottom-section {
    margin: 5px auto 35px;

      .top-spacing {
        @include desktop {
          margin-top: 45px;
        }
        margin-top: 25px;
      }
  }

  .columns {
    @include desktop {
      padding-right: 12px;
      padding-left: 12px;

      &.large-9 {
        width: 75%;
      }
      &.large-3 {
        width: 25%;
      }

    }
    float: left;
    padding: 0;

      .columns {
        padding: 0;
      }
  }

.footer ul.list-horizontal li {
    display: inline-block;
    margin-right: 1.2rem;
  }

  .footer .icon-link {
          display: block;
          position: relative;
          svg {
              fill: $interactive_color;
              height: 24px;
              width: 24px;
              transition: fill 0.3s ease-in-out;
          }
          svg:hover {
              fill: var(--pharos-color-ui-40); //#d1cfc7
          }
      }

  /* Google Translate styles */

  .goog-te-gadget-simple {
    letter-spacing: calc(var(--pharos-font-size-base)*-0.02);
    font-family: $footer_font;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    line-height: var(--pharos-line-height-medium);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition-property: border-color, color;
    transition-timing-function: ease-in-out;
    padding: var(--pharos-spacing-one-quarter-x) var(--pharos-spacing-three-quarters-x);
    border-radius: var(--pharos-radius-base-standard);
    cursor: pointer;
    margin: 0;
    appearance: none;
    color: $interactive_color;
    border-color: $interactive_color;
    background-color: transparent;

    a.goog-te-menu-value {
      color: inherit;
    }

    a.goog-te-menu-value:hover {
      border: 0;
    }

    a.goog-te-menu-value span:not(:first-child) {
      display: none;
    }
  }
}
