/***** JSTOR Footer *****/
.footer {
  background-color: $footer_background_color;
  margin-top: 60px;
  padding: 30px 0 60px;
}

.footer h1 {
  color: $footer_text_color;
  font-family: $footer_font !important;
	font-weight: $font-weight-bold;
  font-size: 32px;
}

.footer h4 {
  font-family: $footer_font;
	font-weight: bold;
}

.footer .column-divider:after {
  content: ' ';
    height: 90%;
    width: 2px;
    position: absolute;
    top: 2%;
    left: -3%;
    background: $footer_secondary_text_color;
}

.footer li {
  font-size: $font-size-small;
  margin-bottom: 11px;
}

.footer a {
  color: $footer_text_color;
  text-decoration: none;
}

.footer a:hover {
  color: $footer_text_color;
  text-decoration: underline;
}

.footer a.button:hover {
 text-decoration: none;
 color: $footer_secondary_text_color;
 background: $background_color;
}

.footer a.button {
 min-width: 120px;
 text-decoration: none;
 color: $brand_text_color;
 background: $footer_background_color;
 border-color: $background_color;
}

.footer .show-for-sr {
 display: none;
}

.footer ul.social-icons li { display: inline-block; margin-bottom: 0; }

.footer ul.list-horizontal li {
  display: inline-block;
  margin-right: 1.2rem;
}

.footer .icon-link {
        display: block;
        position: relative;
        svg {
            fill: $interactive_color;
            height: 24px;
            width: 24px;
            transition: fill 0.3s ease-in-out;
        }
        svg:hover {
            fill: var(--pharos-color-ui-40); //#d1cfc7
        }
    }

.footer-inner {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  justify-content: space-between;
}

.footer p > small {
  font-size: $font-size-micro !important;
  color: var(--pharos-color-ui-40); //#d1cfc7
}

.footer .goog-te-gadget-simple {
  border: 1px solid $interactive_color;
  color: $brand_text_color;
  font-weight: $font-weight-base;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 #D6D6D6;
  height: 39px;
  padding: 8px;
  margin: 0 0 16px;
  font-size: $font-size-small;
  font-family: inherit;
  line-height: normal;
  border-radius: 3px;
  background: $footer_background_color no-repeat right -16px center; //white url(arrow-down-blue.svg)
  background-origin: content-box;
  padding-right: 24px;
  background-size: 17px;
  width: 100%; }
  .footer .goog-te-gadget-simple a.goog-te-menu-value {
    color: inherit; }
    .footer .goog-te-gadget-simple a.goog-te-menu-value:hover {
      border: 0; }
    .footer .goog-te-gadget-simple a.goog-te-menu-value span:not(:first-child) {
      display: none; }

@media (min-width: 1160px) {
  .footer-inner {
    padding: 0;
    width: 90%;
  }
}

.footer-language-selector {
  color: #006179;
  display: inline-block;
  font-weight: $font-weight-light;
}

.row {
 margin-left: -16px;
  margin-right: -16px;
}

.column {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
}

.row.expanded { clear: both; min-height: 40px; }

.row.expanded .left-col li {
  display: inline-block;
  padding-right: 12px;
  margin-top: 15px;
}

@media (min-width: 768px) {
	.column {
  	float: left;
  	width: 50%;
  }

	.column.right-col-wrapper { width: 100%; float: none; }

	.column.right-col-wrapper .right-col-1 {
		width: 35%;
	}

	.column.right-col-wrapper .right-col-2 {
		width: 65%;
	}
  .row.expanded .right-col { width: 28.6%; float: right; }
	.row.expanded .left-col { width: 70%; }
}

@media (min-width: 1205px) {
	.column.left-col-wrapper { width: 28%; float: left; }
	.column.middle-col-wrapper { width: 28%; float: left; }
	.column.right-col-wrapper { width: 44%; float: left; }
}
