// Variables

// Colors
$brand_color: var(--pharos-color-interactive-primary) !default;
$brand_text_color: var(--pharos-color-interactive-tertiary) !default; //Color for text with an accent color background
$text_color: var(--pharos-color-interactive-secondary) !default;
$link_color: var(--pharos-color-interactive-secondary) !default;
$secondary_link_color:var(--pharos-color-interactive-secondary);
$secondary_link_hover:var(--pharos-color-hover-primary);
$background_color: var(--pharos-color-ui-10) !default;

$visited-link-color: var(--pharos-color-hover-primary);
$hover-button-color: var(--pharos-color-hover-primary);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$footer_text_color: var(--pharos-color-interactive-tertiary);
$footer_secondary_text_color: var(--pharos-color-text-10); 
$footer_background_color: var(--pharos-color-text-10); 

//added colors
$hero-background: url($homepage_background_image); //file in assets
$hero-text-color: #000000;
$hero-link-text-color: #000000;
$hero-link-text-hover: #000000;
$dark-gray: #333333;
$med-gray: #cccccc;
$gray: #e8e8e8; //article anchor box, bottom of footer
$lighter-gray: #f9f9f9;
$alert-color: #ffefc3;

$font-size-bigger: 18px;
$font-size-base: 16px;
$font-size-navigation: 14px;
$font-size-small: 14px;
$font-size-smaller: 11px;

$border-color: #000;

$button-color: $brand_color;
$vote-up: #6EB032;
$vote-down: #E04A35;

$input-font-size: 14px;
$field-text-color: #333;
$field-text-focus-color: #000;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: var(--pharos-font-family-body) !default;
$text_font: var(--pharos-font-family-body) !default;
$footer_font: var(--pharos-font-family-sans-serif);
$font-weight-base: var(--pharos-font-weight-regular); // 400
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: var(--pharos-font-weight-bold); // 700
$font-size-micro: var(--pharos-font-size-micro); //12px | 0.75rem
$font-size-small: var(--pharos-font-size-small); //14px | 0.875rem
$font-size-base: var(--pharos-font-size-base); // 16px | 1rem
$font-size-large: var(--pharos-font-size-large); //20px | 1.25rem
$font-size-xlarge: var(--pharos-font-size-xlarge); //24px | 1.5rem
