// Variables

// Colors
$brand_color: var(--pharos-color-interactive-primary) !default;
$brand_text_color: var(--pharos-color-text-white) !default; //Color for text with an accent color background
$text_color: var(--pharos-color-interactive-secondary) !default;
$link_color: var(--pharos-color-interactive-secondary) !default;
$secondary_link_color:var(--pharos-color-interactive-secondary);
$secondary_link_hover:var(--pharos-color-hover-primary);
$background_color: var(--pharos-color-ui-10) !default;
$interactive_color: var(--pharos-color-interactive-tertiary);

$visited-link-color: var(--pharos-color-hover-primary);
$hover-button-color: var(--pharos-color-hover-primary);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$footer_text_color: var(--pharos-color-text-white);
$footer_secondary_text_color: var(--pharos-color-text-10); 
$footer_background_color: var(--pharos-color-text-10); //#1a1a19

//added colors
$hero-background: url($homepage_background_image); //file in assets
$hero-text-color: var(--pharos-color-interactive-secondary);
$hero-link-text-color: var(--pharos-color-interactive-secondary);
$hero-link-text-hover: var(--pharos-color-interactive-primary);
$dark-gray: #333333;
$med-gray: #cccccc;
$gray: #e8e8e8; //article anchor box, bottom of footer
$lighter-gray: #f9f9f9;
$alert-color: #ffefc3;

$font-size-bigger: 18px;
$font-size-base: var(--pharos-font-size-base); //16px
$font-size-navigation: var(--pharos-font-size-small); //14px | 0.875rem
$font-size-small: var(--pharos-font-size-small); //14px | 0.875rem
$font-size-smaller: 11px;

$border-color: var(--pharos-color-overlay);

$button-color: $brand_color;
$vote-up: var(--pharos-color-green-base); // #268241
$vote-down: var(--pharos-color-living-coral-base); // #fb4848
$input-font-size: var(--pharos-font-size-small); //14px | 0.875rem
$field-text-color: var(--pharos-color-text-10);
$field-text-focus-color: var(--pharos-color-focus);

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: var(--pharos-font-family-serif) !default;
$text_font: var(--pharos-font-family-sans-serif) !default;
$footer_font: var(--pharos-font-family-sans-serif);
$font-weight-base: var(--pharos-font-weight-regular); // 400
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: var(--pharos-font-weight-bold);
$font-size-micro:  var(--pharos-font-size-micro); //12px | 0.75rem
$font-size-small: var(--pharos-font-size-small); //14px | 0.875rem
$font-size-base: var(--pharos-font-size-base); // 16px | 1rem
$font-size-large: var(--pharos-font-size-large); //20px | 1.25rem
$font-size-xlarge: var(--pharos-font-size-xlarge); //24px | 1.5rem
